# This is Git's per-user configuration file.
[user]
	name = cid
	email = carlcidromero@gmail.com
	signingkey = 95A4B4664C9CFD24411DD2E4E970FB5F82EDAE3B
[commit]
	gpgsign = true
[core]
	editor = nvim
[init]
	defaultBranch = main
